<ion-item>Wilinda Dedase</ion-item>
<ion-item-divider style="text-align:center;">
  <p style="text-align:center;color:black;">wilindadedase@gmail.com</p>
  <br>
</ion-item-divider>
<ion-button style="text-align:right;" size="small" fill="clear" (click)="accountsettings($event);">
  <ion-icon slot="start" name="settings"></ion-icon>Account Settings
</ion-button><br>
<ion-button style="text-align:right;" size="small" fill="clear" color="danger" routerLink="/login" (click)="close($event);">
  <ion-icon slot="start" name="log-out" ></ion-icon>Logout
</ion-button>