<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>FAQs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="wholeContent">
  <ion-card>
    <ion-item text-left id="faqsQuestion">What is the significance of this app?
      <ion-buttons slot="end">
        <ion-button id="presentAlert" (click)="presentModal($event)">
          <ion-icon slot="icon-only" name="arrow-dropright" style="color:rgb(72,138,255);"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item text-left id="faqsQuestion">How to change password?
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-dropright" style="color:rgb(72,138,255);"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item text-left id="faqsQuestion">How to change email?
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-dropright" style="color:rgb(72,138,255);"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item text-left id="faqsQuestion">How to change username?
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-dropright" style="color:rgb(72,138,255);"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item text-left id="faqsQuestion">How to rate this app?
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-dropright" style="color:rgb(72,138,255);"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item text-left id="faqsQuestion">How to post questions?
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-dropright" style="color:rgb(72,138,255);"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item text-left id="faqsQuestion">What kind of exam do you offer?
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-dropright" style="color:rgb(72,138,255);"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>
  <ion-card>
      <ion-item text-left id="faqsQuestion">How to create an account?
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" name="arrow-dropright" style="color:rgb(72,138,255);"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card>


</ion-content>