#wholeContent{
    background-color: rgb(247,247,247);
    //rgb(72,138,255);rgb(15,21,42);   
}
#faqsQuestion{
    border-style:solid;
    border-color:rgb(72,138,255);
    background-color:white;
    color:rgb(15,21,42);
}