<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Answer</ion-title>
    <ion-buttons slot="end" (click)="close($event);">
      <ion-button>
        <ion-icon slot="start" name="close"></ion-icon>
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item style="color:rgb(72,138,255);font-size:18px;font-weight:bold;">What is the significance of this app?</ion-item><br>
  <ion-item>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar velit sit amet libero mollis, in
    venenatis ante hendrerit. Praesent sit amet lorem risus. Proin vulputate nunc sed mauris luctus, et ultricies dolor
    fermentum. Etiam in nibh maximus, bibendum sem venenatis, finibus est. Nullam ac suscipit elit. Donec vulputate
    lorem at sem porttitor volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
    turpis egestas. Sed euismod lacus id orci congue porta. Nullam blandit luctus semper. Nunc ligula metus, convallis
    a felis convallis, facilisis egestas turpis.</ion-item>
</ion-content>