<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="wholeContent" padding>
  <!-- <ion-grid>
  </ion-grid>
  <ion-card id="wholeCard" >
    <ion-card-content text-center>
        <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="10" text-center>
              <img src="./assets/imgs/logo2.png">
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
          <ion-card-subtitle padding text-center>You need to login first before you able to post questions and explore this functionality!</ion-card-subtitle>
      <br><ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input expand="full" placeholder="Username"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">Password</ion-label>
        <ion-input expand="full" placeholder="Password" type="password"></ion-input>
      </ion-item>
      <ion-button expand="full" href="/wall">Login</ion-button>
      <ion-item style="font-size:15px;text-align: center;" text-center>Want to have an account?<a href style="text-decoration:underline;font-size:15px;"
          href="/createaccount">Sign up here!</a> 
      </ion-item>
    </ion-card-content>
  </ion-card> -->
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col size="10" text-center>
      <img src="./assets/imgs/logo.png">
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-card-subtitle padding text-center>You need to login first before you able to post questions and explore this
    functionality.</ion-card-subtitle>
  <br>

  <ion-item>
    <ion-label>
      <ion-icon name="mail" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
    </ion-label>
    <ion-input expand="full" placeholder="Email" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-icon name="lock" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
    </ion-label>
    <ion-input expand="full" placeholder="Password" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
  </ion-item><br>
  <ion-button expand="full" href="/wall" >Login</ion-button>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
        <table>
            <tr>
                <td>Want to have an account? 
                    <a href style="text-decoration:underline;font-size:15px;" href="/createaccount">Sign up!</a></td>
              </tr>
          </table>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  
  
  <!-- <ion-item style="font-size:15px;">Want to have an account? 
    <a href style="text-decoration:underline;font-size:15px;" href="/createaccount">Sign up here!</a>
  </ion-item> -->
</ion-content>