<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="wholeContent" padding>
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size="10" text-center>
        <img src="./assets/imgs/logo.png">
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row><br>
    <!-- <ion-row>
          <ion-col>
          </ion-col>
          <ion-col size="10">
            <ion-item>
              <ion-label position="stacked">Username</ion-label>
              <ion-input expand="block " placeholder="Username" id="username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Gender</ion-label>
              <ion-select placeholder="Select One">
                <ion-select-option value="f">Female</ion-select-option>
                <ion-select-option value="m">Male</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input expand="block " placeholder="Email" type="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Password</ion-label>
              <ion-input expand="block " placeholder="Password" type="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked" text-wrap>Confirm Password</ion-label>
              <ion-input expand="block " placeholder="Confirm Pass" type="password"></ion-input>
            </ion-item> -->
    <ion-item>
      <ion-label>
        <ion-icon name="person" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
      </ion-label>
      <ion-input expand="full" placeholder="First Name" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="person" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
      </ion-label>
      <ion-input expand="full" placeholder="Middle Name" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="person" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
      </ion-label>
      <ion-input expand="full" placeholder="Last Name" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="person" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
      </ion-label>
      <ion-input expand="full" placeholder="Extension Name (if any)" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="mail" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
      </ion-label>
      <ion-input expand="full" placeholder="Email" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="lock" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
      </ion-label>
      <ion-input expand="full" placeholder="Password" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
    </ion-item><ion-item>
        <ion-label>
          <ion-icon name="checkbox-outline" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
        </ion-label>
        <ion-input expand="full" placeholder="Confirm Password" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
      </ion-item><br>

    <ion-button expand="block" color="primary">Create Account</ion-button>
    <ion-button expand="block" fill="outline" href="/login">Cancel</ion-button>

  </ion-grid>
</ion-content>