<ion-tabs>
    <ion-tab label="Home" icon="home" href="/tabs/(home:home)">
      <ion-router-outlet name="home"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="About" icon="information-circle" href="/tabs/(wall:wall)">
      <ion-router-outlet name="wall"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="Contact" icon="contacts" href="/tabs/(settings:settings)">
      <ion-router-outlet name="settings"></ion-router-outlet>
    </ion-tab>
  </ion-tabs>
  