<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Practexam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding id="wholeContent">

</ion-content>
