<ion-app >
  <ion-split-pane >
    <ion-menu >
      <!-- <ion-header>
        <ion-toolbar style="background-color:transparent;">
          <ion-title>Menu</ion-title>
          <div class="item item-avatar">
            <img src="../assets/imgs/logo.png">
          </div>
        </ion-toolbar>
      </ion-header> -->
      <ion-header padding>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="10"><img src="../assets/imgs/logo.png"></ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-header>
      <ion-content >
        <ion-list style="background-color: rgb(239,243,246)">
            <!-- background-image:url(../assets/imgs/bg.png) -->
          <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle> -->
          <ion-menu-toggle auto-hide="false" >
            <ion-item routerLink="/home">
              <ion-icon slot="start" name="home" style="color:rgb(56,126,245);"></ion-icon>
              <label>Home</label>
            </ion-item>
            <ion-item routerLink="/login" >
              <ion-icon slot="start" name="clipboard" style="color:rgb(56,126,245);"></ion-icon>
              <label>Post Question</label>
            </ion-item>
            <ion-item style="font-weight:bold;color:white;text-transform:uppercase;background-color:rgb(56,126,245)">
              Mock Exam
            </ion-item>
            <ion-item-group submenu style="padding-left:25px;">
                <ion-item submenu-item routerLink="/mockexam">
                  <ion-icon slot="start" name="ribbon" style="color:rgb(56,126,245);"></ion-icon>
                    <label>Professional</label>
                </ion-item>
                <ion-item submenu-item routerLink="/home">
                  <ion-icon slot="start" name="man" style="color:rgb(56,126,245);"></ion-icon>
                    <label>Sub-Professional</label>
                </ion-item>
              </ion-item-group>
            <ion-item style="font-weight:bold;color:white;text-transform:uppercase;background-color:rgb(56,126,245)">
              Practice Exam
            </ion-item>
            <ion-item-group submenu style="padding-left:25px;">
                <ion-item submenu-item routerLink="/practexam">
                  <ion-icon slot="start" name="list-box" style="color:rgb(56,126,245);"></ion-icon>
                    <label>English Grammar Test</label>
                </ion-item>
                <ion-item submenu-item routerLink="/home">
                  <ion-icon slot="start" name="text" style="color:rgb(56,126,245);"></ion-icon>
                    <label>English Vocabulary</label>
                </ion-item>
                <ion-item submenu-item routerLink="/home">
                  <ion-icon slot="start" name="done-all" style="color:rgb(56,126,245);"></ion-icon>
                    <label>Correct Spelling and Idiomatic Expression</label>
                </ion-item>
                <ion-item submenu-item routerLink="/home">
                  <ion-icon slot="start" name="settings" style="color:rgb(56,126,245);"></ion-icon>
                    <label>Analogy and Logic</label>
                </ion-item>
                <ion-item submenu-item routerLink="/home">
                  <ion-icon slot="start" name="paper" style="color:rgb(56,126,245);"></ion-icon>
                    <label>Reading Comprehension</label>
                </ion-item>
                <ion-item submenu-item routerLink="/home">
                  <ion-icon slot="start" name="create" style="color:rgb(56,126,245);"></ion-icon>
                    <label>Paragraph Organization</label>
                </ion-item>
                <ion-item submenu-item routerLink="/home">
                  <ion-icon slot="start" name="keypad" style="color:rgb(56,126,245);"></ion-icon>
                    <label>Numerical Reasoning</label>
                </ion-item>
                <ion-item submenu-item routerLink="/home">
                  <ion-icon slot="start" name="filing" style="color:rgb(56,126,245);"></ion-icon>
                  <label>Clerical Operations</label>
                </ion-item>
              </ion-item-group>
            <ion-item routerLink="/faqs" >
              <ion-icon slot="start" name="help" style="color:rgb(56,126,245);"></ion-icon>
              <label>FAQs</label>
            </ion-item>
            <ion-item routerLink="/home" >
              <ion-icon slot="start" name="star" style="color:rgb(56,126,245);"></ion-icon>
              <label>Rate this app</label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
