<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Post Question</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event);">
        <ion-icon slot="icon-only" name="person" style="color:white;" class="hydrated"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="wholeContent">
  <ion-item>
    <ion-textarea placeholder="Compose question here. . ." rows="5"></ion-textarea>
  </ion-item>
  <ion-button expand="full">Post</ion-button>
  <br>

  <ion-card id="cardWall">
    <ion-card-header>     
      <span style="color:rgb(72,138,255);font-weight:bold;font-size:16px;">Wilinda Dedase</span><br>
      <span style="color:rgb(136, 136, 136)">August 19, 2018 8:18pm</span>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods.
      Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card id="cardWall">
    <ion-card-header>
      <span style="color:rgb(72,138,255);font-weight:bold;font-size:16px;">John Doe</span><br>
      <span style="color:rgb(136, 136, 136)">August 29, 2018 6:38pm</span>
    </ion-card-header>
    <ion-card-content>
      Cras in nisl interdum purus pulvinar ultricies. Nam consequat lacinia velit, non auctor nunc tristique a. Vivamus varius nisl a tortor molestie, ac condimentum leo eleifend. Pellentesque facilisis scelerisque tellus vel luctus. 
    </ion-card-content>
  </ion-card>
  <ion-card id="cardWall">
    <ion-card-header>
      <span style="color:rgb(72,138,255);font-weight:bold;font-size:16px;">Lorem Ipsum</span><br>
      <span style="color:rgb(136, 136, 136)">August 30, 2018 1:18pm</span>
    </ion-card-header>
    <ion-card-content>
      Sed vel neque condimentum, sagittis neque rutrum, pellentesque enim. Phasellus eu ante feugiat.
    </ion-card-content>
  </ion-card>
 
</ion-content>
