<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      CSE Reviewer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-grid id="wholeContent">
  <ion-row text-center>
    <ion-col size="2"></ion-col>
    <ion-col text-center size="8">
      <table text-center id="countTable">
        <tr text-center>
          <td text-center style="color:white;">Next Examination Schedule</td>
        </tr>
        <tr text-center>
          <td text-center style="color:white;font-size:20px;letter-spacing:8px;font-weight:bold;">COUNTDOWN</td>
        </tr>
      </table>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col></ion-col>
    <ion-col text-center>
      <table text-center id="countTable">
        <tr text-center>
          <td text-center id="countValue">1</td>
          <td text-center id="countValue">3</td>
          <td text-center id="countValue" style="padding-left:5px;">22</td>
        </tr>
        <tr text-center>
          <td text-center id="countLabel">Month/s</td>
          <td text-center id="countLabel" style="padding-left:10px;">Week/s</td>
          <td text-center id="countLabel" style="padding-right:12px;padding-left:12px;">Day/s</td>
        </tr>
      </table>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-grid>


    <!-- <ion-row>
      <ion-col size="6" id="newQuestions" text-center>
        <table text-center >
          <tr text-center>
            <td text-center style="color:white;font-size:45px;font-weight:bold;text-align:center;">25</td>
          </tr>
          <tr text-center>
            <td text-center style="color:white;font-size:14px;text-align:center;">New fresh questions uploaded</td>
          </tr>
        </table>
      </ion-col>
      <ion-col size="6" id="newQuestions" text-center>
        <table text-center >
          <tr text-center>
            <td text-center style="color:white;font-size:45px;font-weight:bold;text-align:center;">13</td>
          </tr>
          <tr text-center>
            <td text-center style="color:white;font-size:14px;text-align:center;">New submitted questions from other
              users</td>
          </tr>
        </table>
      </ion-col>
    </ion-row> -->

  <!-- style="background-color:rgb(239,243,246)" -->
  <ion-row text-center style="background-color:rgb(239,243,246)"> 
    <ion-col size="12" style="padding-top:10px;">
      <ion-card-subtitle>CSE Examination Dates and Filing of Application Schedules</ion-card-subtitle>
    </ion-col>
    <ion-col size="2" text-center>
      <table text-center style="border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42); ">
        <tr>
          <td text-center style="color:white;font-weight:bold;padding:5px;">MARCH</td>
        </tr>
        <tr>
          <td text-center style="font-size:40px;color:rgb(72,138,255);font-weight:bold;padding-left:10px;padding-right:10px;">18</td>
        </tr>
        <tr>
          <td text-center style="color:white;">2018</td>
        </tr>
      </table>
    </ion-col>
    <ion-col size="4">
      <ion-item style="font-size:13px;text-align:center;">Filing of application dates: <br>Nov. 16,2018 to Jan. 31,2018</ion-item>
    </ion-col>
    <ion-col size="2" text-center>
      <table text-center style="border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42); ">
        <tr>
          <td text-center style="color:white;font-weight:bold;padding:5px;">AUG.</td>
        </tr>
        <tr>
          <td text-center style="font-size:40px;color:rgb(72,138,255);font-weight:bold;padding-left:10px;padding-right:10px;">31</td>
        </tr>
        <tr>
          <td text-center style="color:white;">2018</td>
        </tr>
      </table>
    </ion-col>
    <ion-col size="4">
      <ion-item style="font-size:13px;text-align:center;">Filing of application dates:<br>April 10,2018 to June 22,
        2018</ion-item>
        <br>
    </ion-col>
    <br>
  </ion-row>

  <ion-row text-center id="wholeCard">
    <ion-col size="12" style="padding-top:10px;">
      <ion-card-subtitle>List of All Exam Locations Nationwide</ion-card-subtitle>
    </ion-col>
    <ion-col size="1"></ion-col>
    <ion-col text-center size="10">
      <table text-center >
        <tr text-center id="listContent">
          <td id="listHeader">March 18,2018</td>
          <td id="listHeader">August 31,2018</td>
        </tr>
        <tr text-center id="listContent">
          <td style="padding:4px;">Dagupan City</td>
          <td>Dagupan City</td>
        </tr>
        <tr text-center id="listContent">
          <td> Vigan City</td>
          <td> Vigan City</td>
        </tr>
        <tr text-center id="listContent">
          <td>Baler, Aurora</td>
          <td>-</td>
        </tr>
        <tr text-center id="listContent">
          <td>-</td>
          <td>Olongapo City</td>
        </tr>
        <tr text-center id="listContent">
          <td>Laoag City</td>
          <td>Laoag City</td>
        </tr>
        <tr text-center id="listContent">
          <td>Bacoor City</td>
          <td>Dasmarinas City</td>
        </tr>
        <tr text-center id="listContent">
          <td>Cauayan City</td>
          <td>Cauayan City</td>
        </tr>
        <tr text-center id="listContent">
          <td>Mamburao, Occidental Mindoro</td>
          <td>San Jose, Occidental Mindoro</td>
        </tr>
        <tr text-center id="listContent">
          <td>Masbate City</td>
          <td>Virac, Catanduanes </td>
        </tr>
      </table>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

</ion-content>