#wholeContent{
    background-color: rgb(15,21,42);
    padding-top:20px;
    padding-bottom:20px;
}
#countTable{
    margin-left:auto;
    margin-right:auto;
}
#countLabel{
    padding:5px;
    margin: 50px;
    color:rgb(211, 211, 211);
    text-align: center;
    
}
#countValue{
    padding:5px;
    margin-right:100px;
    font-size:50px;
    color:rgb(72,138,255);
    font-weight:bold;
    text-align: center;
    border-style: solid;
    border-color:white;

}
#wholeCard{
    background-color:white;
    
}
#newQuestionCard{
    background-color:white;
    font-size:35px;
    text-align:center;
}
#tableHeader{
    background-color:rgb(72,138,255);
    text-align:center;
    color:white;
}
#sample{
    padding:0px;
}
#newQuestions{
    background-color:rgb(72,138,255);
    text-align:center;
    padding:7px 7px 7px 10px ;
}
#filingTable{
    text-align:center;
    padding:10px;
    border-style: solid;
    border-color:black;
}
#listHeader{
    background-color:rgb(72,138,255);
    border-style:solid;
    border-color:white;
    color:white;
    // padding-left:25px;
    // padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
}
#listContent{
    color:rgb(71,71,71);
    padding:4px;
}