<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Account Settings</ion-title>
    <ion-buttons slot="end" (click)="close($event);">
      <ion-button>
        <ion-icon slot="start" name="close"></ion-icon>
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size="10" text-center>
        <img src="./assets/imgs/logo.png">
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row><br>
    <ion-item>
      <ion-label>
        <ion-icon name="person" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
      </ion-label>
      <ion-input expand="full" placeholder="First Name" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="person" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
      </ion-label>
      <ion-input expand="full" placeholder="Middle Name" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="person" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
      </ion-label>
      <ion-input expand="full" placeholder="Last Name" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="person" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
      </ion-label>
      <ion-input expand="full" placeholder="Extension Name (if any)" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="mail" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
      </ion-label>
      <ion-input expand="full" placeholder="Email" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="lock" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
      </ion-label>
      <ion-input expand="full" placeholder="Current Password" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>
          <ion-icon name="lock" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
        </ion-label>
        <ion-input expand="full" placeholder="New Password" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
      </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="checkbox-outline" slot="start" style="font-size:25px;padding:6px;border-style:solid;border-color:rgb(72,138,255);background-color:rgb(15,21,42);color:white;"></ion-icon>
      </ion-label>
      <ion-input expand="full" placeholder="Confirm New Password" style="border-style:solid;border-color:rgb(72,138,255);"></ion-input>
    </ion-item><br>

    <ion-button expand="block" color="primary">Update</ion-button>

  </ion-grid>
</ion-content>